html{
    font-family: Verdana;
    text-align: center;
}
.baner{
    background-color: darkgreen;
    color: #fff;
    padding: 5px;
}
.lewy{
    background-color: palegreen;
    width: 30%;
    height: 500px;
    float: left;
    padding-top:100px ;
}
.prawy{
    background-color: honeydew;
    width: 70%;
    height: 500px;
    padding-top: 100px;
    float: left;
}
footer{
    background-color: palegreen;
    padding: 3px;
    clear: both;
}
table, td{
    border: 1px solid darkgreen;
    border-collapse: collapse;
}
table{
    margin: auto;
    width: 95%;
}
td,th{
    padding: 20px 0px;
}
input{
    background-color: darkgreen;
    color: #fff;
    padding: 5px;
}
input:hover{
    background-color: honeydew;
    color: darkgreen;
}